<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <title>Администратор</title>
</head>
<body>


    <style>
        a {
            text-decoration: none;
        }
    </style>


    <header>
        <div class="container-fluid bg-dark">
            <div class="row flex-lg-nowrap pt-2">
                <div class="col-lg-11 text-white me-auto">
                    <h5 id="principal"></h5>
                </div>
                <div class="col-lg-1 ms-auto text-end">
                    <a class="text-white-50" th:href="@{/logout}">Выйти</a>
                </div>
            </div>
        </div>
    </header>

    <div class="d-flex align-items-start">
        <div class="col-2 pt-3 px-0">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="nav-link active text-start" id="v-pills-admin-tab" data-bs-toggle="pill" data-bs-target="#v-pills-admin" type="button" role="tab" aria-controls="v-pills-admin" aria-selected="true">
                    Администратор
                </button>
                <button class="nav-link text-start" id="v-pills-user-tab" data-bs-toggle="pill" data-bs-target="#v-pills-user" type="button" role="tab" aria-controls="v-pills-user" aria-selected="false">
                    Пользователь
                </button>
            </div>
        </div>

        <div class="container-fluid bg-light min-vh-100">
            <div class="col-12 p-3">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel" aria-labelledby="v-pills-admin-tab">

                        <h1>Панель администратора</h1>

                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-table-tab" data-bs-toggle="tab" data-bs-target="#nav-table" type="button" role="tab" aria-controls="nav-table" aria-selected="true">
                                    Таблица пользователей
                                </button>
                                <button class="nav-link" id="nav-add-tab" data-bs-toggle="tab" data-bs-target="#nav-add" type="button" role="tab" aria-controls="nav-table" aria-selected="false">
                                    Новый пользователь
                                </button>
                            </div>
                        </nav>

                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-table" role="tabpanel" aria-labelledby="nav-table-tab">

                                <div class="border rounded-top pt-2"><h5 class="align-middle px-3">Все пользователи</h5></div>

                                <div class="bg-white p-4 border rounded-bottom">
                                    <table class="table table-striped table-borderless border-top">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Имя</th>
                                            <th>Фамилия</th>
                                            <th>Электронная почта</th>
                                            <th>Логин</th>
                                            <th>Роль</th>
                                            <th>Редактировать</th>
                                            <th>Удалить</th>
                                        </tr>
                                        </thead>
                                        <tbody id="allUsers"></tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="modal fade text-center" id="edit" data-bs-backdrop="static" tabindex="-1" aria-labelledby="editorLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editorLabel">Редактор пользователя</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                        </div>
                                        <div class="modal-body px-0">
                                            <form id="formEdit" class="row-cols-1 text-center" th:method="PATCH"
                                                  oninput='passwordConfirm.setCustomValidity(passwordConfirm.value != password.value ? "Пароли не совпадают" : "")'>
                                                <div class="col-md-8 offset-2">
                                                    <label for="idEdit" class="form-label"><b>ID</b></label>
                                                    <input th:name="id" type="text" class="form-control" id="idEdit" disabled>
                                                </div>
                                                <div class="col-md-8 offset-2">
                                                    <br>
                                                    <label for="firstNameEdit" class="form-label"><b>Имя</b></label>
                                                    <input th:name="firstName" type="text" class="form-control" id="firstNameEdit" required>
                                                </div>
                                                <div class="col-md-8 offset-2">
                                                    <br>
                                                    <label for="lastNameEdit" class="form-label"><b>Фамилия</b></label>
                                                    <input th:name="lastName" type="text" class="form-control" id="lastNameEdit" required>
                                                </div>
                                                <div class="col-md-8 offset-2">
                                                    <br>
                                                    <label for="emailEdit" class="form-label"><b>Электронная почта</b></label>
                                                    <input th:name="email" type="email" class="form-control" id="emailEdit">
                                                </div>
                                                <div class="col-md-8 offset-2">
                                                    <br>
                                                    <label for="usernameEdit" class="form-label"><b>Имя пользователя</b></label>
                                                    <input th:name="username" type="text" class="form-control" id="usernameEdit" required>
                                                </div>
                                                <div class="col-md-8 offset-2">
                                                    <br>
                                                    <label for="passwordEdit" class="form-label"><b>Пароль</b></label>
                                                    <input th:name="password" type="password" class="form-control" id="passwordEdit" required autofocus>
                                                </div>
                                                <div class="col-md-8 offset-2">
                                                    <br>
                                                    <label for="passwordConfirmEdit" class="form-label"><b>Повторите пароль</b></label>
                                                    <input th:name="passwordConfirm" type="password" class="form-control" id="passwordConfirmEdit" required>
                                                </div>
                                                <div class="col-md-8 offset-2">
                                                    <br>
                                                    <label for="rolesEdit" class="form-label"><b>Роль</b></label>
                                                    <select th:name="roles" class="form-select" multiple size="2" id="rolesEdit" required>
                                                        <option value="1">ADMIN</option>
                                                        <option value="2">USER</option>
                                                    </select>
                                                </div>
                                                <br>
                                                <div class="modal-footer pb-0">
                                                    <button type="button" id="closeEdit" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                                    <button id="saveUpdate" type="submit" class="btn btn-primary">Сохранить изменения</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade text-center" id="delete" data-bs-backdrop="static" tabindex="-1" aria-labelledby="deleteLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteLabel">Удаление пользователя</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                                        </div>
                                        <div class="modal-body px-0">
                                            <form id="formDelete" class="row-cols-1 text-center" th:method="delete"
                                                  oninput='passwordConfirm.setCustomValidity(passwordConfirm.value != password.value ? "Пароли не совпадают" : "")'>
                                                <div class="col-md-8 offset-2">
                                                    <label for="idDelete" class="form-label"><b>ID</b></label>
                                                    <input th:name="id" type="text" class="form-control" id="idDelete" disabled>
                                                </div>
                                                <div class="col-md-8 offset-2">
                                                    <br>
                                                    <label for="firstNameDelete" class="form-label"><b>Имя</b></label>
                                                    <input th:name="firstName" type="text" class="form-control" id="firstNameDelete" disabled>
                                                </div>
                                                <div class="col-md-8 offset-2">
                                                    <br>
                                                    <label for="lastNameDelete" class="form-label"><b>Фамилия</b></label>
                                                    <input th:name="lastName" type="text" class="form-control" id="lastNameDelete" disabled>
                                                </div>
                                                <div class="col-md-8 offset-2">
                                                    <br>
                                                    <label for="emailDelete" class="form-label"><b>Электронная почта</b></label>
                                                    <input th:name="email" type="email" class="form-control" id="emailDelete" disabled>
                                                </div>
                                                <div class="col-md-8 offset-2">
                                                    <br>
                                                    <label for="usernameDelete" class="form-label"><b>Имя пользователя</b></label>
                                                    <input th:name="username" type="text" class="form-control" id="usernameDelete" disabled>
                                                </div>
                                                <div class="col-md-8 offset-2">
                                                    <br>
                                                    <label for="rolesDelete" class="form-label"><b>Роль</b></label>
                                                    <select th:name="roles" class="form-select" multiple size="2" id="rolesDelete" th:value="roles" disabled>
                                                        <option value="1">ADMIN</option>
                                                        <option value="2">USER</option>
                                                    </select>
                                                </div>
                                                <br>
                                                <div class="modal-footer pb-0">
                                                    <button id="closeDelete" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                                    <button type="submit" class="btn btn-danger">Удалить пользователя</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="nav-add" role="tabpanel" aria-labelledby="nav-add-tab">

                                <div class="w-100 border rounded-top pt-2"><h5 class="align-middle px-3">Добавить нового пользователя</h5></div>

                                <div class="bg-white p-4 border rounded-bottom">
                                    <form id="create" class="row-cols-1 text-center" th:method="post"
                                          oninput='passwordConfirm.setCustomValidity(passwordConfirm.value != password.value ? "Пароли не совпадают" : "")'>
                                        <div class="col-md-3 offset-4">
                                            <label for="validationDefaultFirstName" class="form-label"><b>Имя</b></label>
                                            <input name="firstName" type="text" class="form-control" id="validationDefaultFirstName" required>
                                        </div>
                                        <div class="col-md-3 offset-4">
                                            <br>
                                            <label for="validationDefaultLastName" class="form-label"><b>Фамилия</b></label>
                                            <input name="lastName" type="text" class="form-control" id="validationDefaultLastName" required>
                                        </div>
                                        <div class="col-md-3 offset-4">
                                            <br>
                                            <label for="validationDefaultEmail" class="form-label"><b>Электронная почта</b></label>
                                            <input name="email" type="email" class="form-control" id="validationDefaultEmail" required>
                                        </div>
                                        <div class="col-md-3 offset-4">
                                            <br>
                                            <label for="validationDefaultUsername" class="form-label"><b>Имя пользователя</b></label>
                                            <input name="username" type="text" class="form-control" id="validationDefaultUsername" required>
                                        </div>
                                        <div class="col-md-3 offset-4">
                                            <br>
                                            <label for="validationDefaultPassword" class="form-label"><b>Пароль</b></label>
                                            <input name="password" type="password" class="form-control" id="validationDefaultPassword" required>
                                        </div>
                                        <div class="col-md-3 offset-4">
                                            <br>
                                            <label for="validationDefaultPasswordConfirm" class="form-label"><b>Повторите пароль</b></label>
                                            <input name="passwordConfirm" type="password" class="form-control" id="validationDefaultPasswordConfirm" required>
                                        </div>
                                        <div class="col-md-3 offset-4">
                                            <br>
                                            <label for="validationDefaultRoles" class="form-label"><b>Добавьте роль</b></label>
                                            <select name="roles" class="form-select" multiple size="2" id="validationDefaultRoles" required>
                                                <option value="1">ADMIN</option>
                                                <option value="2">USER</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3 offset-4 d-grid gap-2">
                                            <br>
                                            <button id="addNewUser" class="btn btn-success" type="submit">Добавить нового пользователя</button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">

                        <h1>Информация о пользователе</h1>

                        <div class="border rounded-top pt-2"><h5 class="align-middle px-3">Пользователь</h5></div>

                        <div class="bg-white p-4 border rounded-bottom">
                            <table class="table table-striped table-borderless border-top">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Имя</th>
                                    <th>Фамилия</th>
                                    <th>Электронная почта</th>
                                    <th>Логин</th>
                                    <th>Роль</th>
                                </tr>
                                </thead>
                                <tbody id="userAuth"></tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>

    <script th:src="@{/js/bootstrap.bundle.min.js}" ></script>
    <script th:src="@{/js/admin.js}"></script>
    <script th:src="@{/js/getRole.js}"></script>
</body>
</html>