<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <title>Регистрация</title>
</head>
<body style="background-color: LightSteelBlue">

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 border rounded-3 p-4 mt-5 bg-white">
            <form class="form-signIn" th:method="post" th:action="@{/registration}" th:object="${user}"
                  oninput='passwordConfirm.setCustomValidity(passwordConfirm.value != password.value ? "Пароли не совпадают" : "")'>
                <h2 class="form-signIn-heading">Регистрация</h2>
                <br>
                <p>
                    <input class="form-control" type="text" th:field="*{firstName}" id="firstName" placeholder="Имя" required autofocus>
                </p>
                <p>
                    <input class="form-control" type="text" th:field="*{lastName}" id="lastName" placeholder="Фамилия" required>
                </p>
                <p>
                    <input class="form-control" type="email" th:field="*{email}" id="email" placeholder="E-mail">
                </p>
                <p>
                    <input class="form-control" type="text" th:field="*{username}" id="username" placeholder="Имя пользователя" required>
                </p>
                <p>
                    <input class="form-control" type="password" th:field="*{password}" id="password" placeholder="Пароль" required>
                </p>
                <p>
                    <input class="form-control" type="password" th:field="*{passwordConfirm}" id="passwordConfirm" placeholder="Повторите пароль" required>
                </p>
                <div>
                    <br>
                    <label for="validationDefaultRoles" class="form-label"><b>Добавьте роль</b></label>
                    <select name="roles" class="form-select" multiple size="2" id="validationDefaultRoles" required>
                        <option value="ROLE_ADMIN">ADMIN</option>
                        <option value="ROLE_USER">USER</option>
                    </select>
                </div>
                <div class="w-100">
                    <br>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <button class="btn btn-lg btn-primary btn-block w-100" type="submit">Зарегистрироваться</button>
                </div>
                <br>
                <div class="col my-auto text-end">
                    <h5><a th:href="@{/login}" style="text-decoration: none">Войти</a></h5>
                </div>
            </form>
        </div>
    </div>
</div>

<script th:src="@{/js/bootstrap.bundle.min.js}" ></script></body>
</html>